<header class="header">
    <div class="header__logo">
        <img class="header__logo-img" src="/images/header/to-do-list.png" alt="">
    </div>
    <nav class="px-10">

        <div class="header__nav text">
            <ul>
                <li>Dashboard</li>
                <li>Tasks</li>
                <li>Projects</li>
                <li>About</li>
            </ul>
        </div>
        <div class="header__log-sign ">
            <app-button [data]="'Login'" [background]="'#ffff'" [color]="'#222121'"></app-button>
            <app-button [data]="'Sign up'" [background]="'#222121'" [color]="'#f9f9f9'"></app-button>
        </div>
    </nav>
</header>