<header class="header">

    <nav>
        <div class="header__logo">
            <img class="header__logo-img" src="/images/header/logo.png" alt="logo">
        </div>
        <div class="header__nav">
            <ul class="flex gap-[24px]">
                <li class="hover:cursor-pointer hover:opacity-80 font-medium">How we work</li>
                <li class="hover:cursor-pointer hover:opacity-80 font-medium">Pricing</li>
                <li class="hover:cursor-pointer hover:opacity-80 font-medium">FAQ</li>
                <li class="hover:cursor-pointer hover:opacity-80 font-medium">Resource</li>
            </ul>
        </div>
        <div class="header__log-sign ">
            <app-button [data]="'Login'" [background]="'#ffff'" [color]="'#222121'"></app-button>
            <app-button [data]="'Sign up'" [background]="'#222121'" [color]="'#f9f9f9'"></app-button>
        </div>
    </nav>
</header>