@use "../../../../public/scss/abstract/index.scss" as *;

.header {
  width: 100%;
  height: $spacer-10;
  background-color: rgba(230, 229, 229, 0.316);
  display: flex;
  align-items: center;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    ul {
      display: flex;
      gap: $spacer-4;

      li {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__logo {
    padding-left: $spacer-8;
    &-img {
      width: $spacer-9;
      height: $spacer-9;
    }
  }

  &__nav {
    display: flex;
  }

  &__log-sign {
    display: flex;
    gap: $spacer-3;
  }
}
