$spacer-0: 0px;
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 12px;
$spacer-4: 16px;
$spacer-5: 20px;
$spacer-6: 24px;
$spacer-7: 28px;
$spacer-8: 32px;
$spacer-9: 36px;
$spacer-10: 40px;

//rem
$spacer-10: 5rem;
$spacer-11: 10rem;
$spacer-12: 15rem;
$spacer-13: 20rem;
$spacer-14: 25rem;
$spacer-15: 30rem;
