$font-1: 0.625rem; //10
$font-2: 0.75rem; //12
$font-3: 0.875rem; //14
$font-4: 1rem; //
$font-5: 0.75rem;

// heading

$heading-1: 2.5em; //Default
$heading-1-sm: 2em; //mobile
$heading-2-dek: 4em; //desktop

