<article class="home !pt-15">
  <section class="home__hero relative">
    <h1 class="home__hero-header">
      Streamline Your Projects, <br />
      Elevate Your Productivity.q       
    </h1>
    <h2 class="home__hero-solgan">
      Plan, Track, and Deliver—All in One Place.
    </h2>

    <div class="bg-[#f3f3f3] !p-3 rounded-[11px] flex flex-col items-center gap-1.5 absolute bottom-[-7rem]">
        <app-button [data]="'Try it now'" [background]="'#212121e0'" [color]="'#cfdddb'" [width]="'150px'"></app-button>
<p class="text-[0.8rem]">Free for 3 months
</p>
</div>
  </section>
  <section class="home__card">
    <div class="home__card-cards home__card-cards--1 !p-2.5">
      <div class="py-2">
        <p class="text-[#e1e1e1e8] text-[0.8rem]">Select Slot</p>
        <p class="text-[#e1e1e1e8] text-[1.2rem] font-semibold">January 25, 2025</p>
      </div>
      <div class="flex items-center justify-center gap-1 !mt-2">

        <div
                class="home__card-cards-box-cal bg-[#cfdddb] hover:cursor-pointer hover:opacity-98 rounded-[0.4rem] !w-5 !px-[3px] !py-[6px]">
                <span class="w-2 text-white">
                        <</span>
        </div>


        <div
          class="home__card-cards-box-cal bg-[#cfdddb] hover:cursor-pointer hover:opacity-98 rounded-[0.8rem] !w-11 !px-[10px] !py-[1px]"
        >
          <h1 class="font-medium text-[0.7rem]">Jan</h1>
          <p class="font-semibold">24</p>
        </div>
        <div
          class="home__card-cards-box-cal bg-[#e2eeec] hover:cursor-pointer hover:opacity-98 rounded-[0.8rem] !w-11 !px-[10px] !py-[1px]"
        >
          <h1 class="font-medium text-[0.7rem]">Jan</h1>
          <p class="font-semibold">25</p>
        </div>
        <div
          class="home__card-cards-box-cal bg-[#cfdddb] hover:cursor-pointer hover:opacity-98 rounded-[0.8rem] !w-11 !px-[10px] !py-[1px]"
        >
          <h1 class="font-medium text-[0.7rem]">Jan</h1>
          <p class="font-semibold">26</p>
        </div>

        <div
                class="home__card-cards-box-cal bg-[#cfdddb] hover:cursor-pointer hover:opacity-98 rounded-[0.4rem] !w-5 !px-[3px] !py-[6px]">
                <span class="w-2 text-white">
                        ></span>
        </div>
      </div>
      <div class="flex w-[11rem] !mt-4.5 gap-2.5 items-center">
        <p class="text-[#c3c7c3f2]">10.00</p>
         <div class="!px-1 !py-2 bg-[#cfdddb] rounded-[0.5rem]">
                <input class="" type="checkbox" name="" id=""> 10.00 - 11.00</div> 
      </div>

<div class="flex w-[11rem] !mt-2.5 gap-2.5 items-center">
        <p class="text-[#c3c7c3f2]">11.00</p>
        <div class="!px-1 !py-2 bg-[#cfdddb] rounded-[0.5rem]">
                <input class="" type="checkbox" name="" id=""> 11.00 - 12.00
        </div>
</div>

<div class="flex w-[11rem] !mt-2.5 gap-2.5 items-center">
        <p class="text-[#c3c7c3f2]">12.00</p>
        <div class="!px-1 !py-2 bg-[#cfdddb] rounded-[0.5rem]">
                <input class="" type="checkbox" name="" id=""> 12.00 - 1.00
        </div>
</div>
    </div>
    <div class="home__card-cards home__card-cards--2">
      <img
        class="rounded-[1rem] h-[13rem] w-[12rem] object-fill"
        src="/images/home/card-2.jpg"
        alt="card image"
      />
    </div>
    <div class="home__card-cards home__card-cards--3">
      <h1 class="font-semibold text-[1.3rem] !font-[openSan]">
        Alway Know <br />
        what's your <br />
        team is upto.
      </h1>
    </div>
    <div class="home__card-cards home__card-cards--4">
      <div class="flex gap-2.5 items-center">
        <img
          class="w-10 h-10 rounded-[50%]"
          src="/images/home/profile.jpg"
          alt="profile"
        />
        <p class="font-medium text-[1.2rem]">Sasha</p>
      </div>
      <p class="home__card-cards-box-para">upcoming every</p>
      <div class="flex bg-[#212121e0] !p-1.5 rounded-[0.8rem] gap-2.5">
        <div
          class="home__card-cards-box-cal bg-[#cfdddb] rounded-[0.8rem] !px-[10px] !py-[1px]"
        >
          <h1 class="font-medium text-[0.7rem]">Jan</h1>
          <p class="font-semibold">28</p>
        </div>
        <div class="home__card-cards-box-details">
          <h1 class="text-[#e1e1e1e8] font-semibold">Design Sync</h1>
          <p class="text-[#a7a7a7] text-[0.7rem]">1pm -> 3pm</p>
        </div>
      </div>
      <div class="flex bg-[#212121e0] !mt-1.5 !p-1.5 rounded-[0.8rem] gap-2.5">
        <div
          class="home__card-cards-box-cal bg-[#cfdddb] rounded-[0.8rem] !px-[10px] !py-[1px]"
        >
          <h1 class="font-medium text-[0.7rem]">Jan</h1>
          <p class="font-semibold">28</p>
        </div>
        <div class="home__card-cards-box-details">
          <h1 class="text-[#e1e1e1e8] font-semibold">Design Sync</h1>
          <p class="text-[#a7a7a7] text-[0.7rem]">1pm -> 3pm</p>
        </div>
      </div>
    </div>
    <div class="home__card-cards home__card-cards--5">
      <img
        class="rounded-[1rem] h-[17rem] w-[12rem] object-fill"
        src="/images/home/card-4.jpg"
        alt="card image"
      />
    </div>
  </section>
</article>
